.text-extra-boarder {
	border-radius: 0.5em;
	background-color: #f1f1f1;
	padding: 2px;
	width: fit-content;
    height: fit-content;
}
.text {
	background-color: #f1f1f1;
	border: 2px solid #c4c4c4;
	padding: 5px;
	border-radius: 0.5em;
}
.text:focus {
	border: 1px solid #aaaaaa;
}